* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font size and family */
html {
  font-size: 16px;
  font-family: sans-serif;
}

/* Set body margin and text color */
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


main {
  min-height: 100%;
  margin-bottom: 100px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}
img{
  width: 100px;
}
.footer{
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin: 0;
}

.navbtn{
  color: wheat;
}

.nav{
  width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin: 0;
}

.body-wrapper{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.body{
  width: 100vw;
  background-color: #B11928;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
    padding: 10%;
}

.bodybtn{
  background-color: #af4c4c;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
    .bodybtn:hover {
    background-color: #af4c4c;
}

.button-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
  padding: 5vw;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.slider-container img {
  position: absolute;
  max-width: 100%;
  
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider-container img.active {
  opacity: 1;
}

@keyframes increase-number {
  from {
    font-size: 16px;
  }

  to {
    font-size: 24px;
  }
}

.number {
  animation-name: increase-number;
  animation-duration: 0.001ms;
  animation-fill-mode: forwards;
}

.countdown-wrapper{
  color: wheat;
  text-align: center;
}

.yaw{
  text-align: center;
  color: wheat;
  font-family: 'Dancing Script', cursive;
  font-size: x-large;
}

form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #B11928;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.about-wrapper{
    width: 100vw;
      height: 100vh;
      background-color:#B11928;
      color: white;
      text-align: center;
      padding: 15%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }

  .about{
    padding: 1%;
  }
  

  .form-wrapper{
    width: 100vw;
    height: 100vh;
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-wrapper h1{
    padding: 4%;
  }

  .event-wrapper{
    width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 20%;
      justify-content: space-around;
      
  }

  .event-wrapper > h1{
    font-family: 'Dancing Script', cursive;
  }

  .event{
    color: wheat;
    background-color: #B11928;
    padding: 10%;
  }
  
  a{
    text-decoration: none;
    color: wheat;
  }


  .nav{
    color:#fff
  }

  .countdown{
    color: wheat;
  }

  .header{
  font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    line-height: 1.2;
    padding: 2rem 0;
    
  }

  .slider-container{
    width: 100vw;
    height: 100vh;
  }

.globe-icon:hover {
  animation: spin 1s linear infinite;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.about-image {
  width: 0vw;
  height: 0vh;
}

.about-image>img {
  width: 0;
}

.event-image {
  width: 0vw;
  height: 0vh;
}

.event-image>img {
  width: 0;
}

.gallery-main{
  background-color: #B11928;
}

.gallery-wrapper{
  color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
    height: 100vh;
}

/* styles for screens larger than 600px */
@media only screen and (min-width: 600px) {
  .event {
      padding: 1%;
      margin: 1%;
    }

    form{
      width: 50%;
    }

    .about-main{
      display: flex;
      flex-direction: row;
    }

    .about-wrapper{
      width: 50vw;
      height: 100vh;
    }

    .about-image{
      width: 50vw;
      height: 100%;
      padding: 5%;
        overflow: hidden;
    }

    .about-image > img {
        width: 100%;
        height: auto;
        display: block;
          transition: transform 0.5s ease;
    }

    .about-image > img:hover {
     
          transform: scale(1.2);
        
    }

    .about{
      padding: 5%;
    }

    .event-wrapper{
      width:50vw;
      padding: 10%;
    }

    .event{
      padding:5%
    }

    .event-main{
      display: flex;
      flex-direction: row;

    }

        .event-image {
          width: 50vw;
          height: 100%;
          padding: 5%;
          overflow: hidden;
          display: flex;
          justify-content: center;
        }
    
        .event-image>img {
          width: 70%;
          height: auto;
          display: block;
          transition: transform 0.5s ease;
        }
    
        .event-image>img:hover {
    
          transform: scale(1.2);
    
        }

}
.event-button {
  padding: 5px 10px;
  background-color: wheat;
  border: 2px solid #000;
  border-radius: 20px;
  color: #000;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.3s ease;
  margin-top: 5px;
}

.event-button:hover {
  background-color: #B11928;
  color: #fff;
}

.nav-list{
  list-style: none;
}

li {
  margin: 0.5rem 0;
}