* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font size and family */
html {
  font-size: 16px;
  font-family: sans-serif;
}

/* Set body margin and text color */
body {
  margin: 0;
  color: #333;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.footer{
  position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin: 0;
}

.navbtn{
  color: wheat;
  font-size: 5vw
}

.nav{
  width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin: 0;
}

.body-wrapper{
  display: flex;
  flex-direction: column;
}

.body{
  width: 100%;
  background-color: rgb(119, 28, 28);
  height: 60vh;
  margin: 0;
}

.bodybtn{
  background-color: #af4c4c;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
    .bodybtn:hover {
    background-color: #af4c4c;
}

.button-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
  padding: 5vw;
}