* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set font size and family */
html {
  font-size: 16px;
  font-family: sans-serif;
}

/* Set body margin and text color */
body {
  margin: 0;
  padding: 0;
  height: 100%;
}


main {
  min-height: 100%;
  margin-bottom: 100px;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}
img{
  width: 100px;
}
.footer{
  position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin: 0;
}

.navbtn{
  color: wheat;
  font-size: 5vw
}

.nav{
  width: 100%;
    background-color: #333;
    color: #fff;
    padding: 1rem;
    margin: 0;
}

.body-wrapper{
  display: flex;
  flex-direction: column;
}

.body{
  width: 100%;
  background-color: rgb(119, 28, 28);
  height: 60vh;
  margin: 0;
}

.bodybtn{
  background-color: #af4c4c;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
    .bodybtn:hover {
    background-color: #af4c4c;
}

.button-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3vh;
  padding: 5vw;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.slider-container img {
  position: absolute;
  max-width: 100%;
  
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slider-container img.active {
  opacity: 1;
}

@keyframes increase-number {
  from {
    font-size: 16px;
  }

  to {
    font-size: 24px;
  }
}

.number {
  animation-name: increase-number;
  animation-duration: 0.001ms;
  animation-fill-mode: forwards;
}

form {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

.about-wrapper{
    width: 100vw;
      height: 100vh;
      background-color: rgb(119, 28, 28);
      color: white;
      text-align: center;
      padding: 15%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
  }

  .about{
    padding: 1%;
  }

  .form-wrapper{
    width: 100vw;
    height: 100vh;
    padding: 15%;
  }

  .form-wrapper h1{
    padding: 4%;
  }

  .event-wrapper{
    width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 20%;
      gap:10%
  }

  


